// Small devices (landscape phones, 576px and up)

@media (min-width: 280px) and (max-width: 320px) {
	.caption-btn {
		line-height: 25px;
		margin-bottom: 15px;
	}

	.tabs-nav-btn {
		width: 60px;
		font-size: 7px;
		font-weight: $fontWeight600;
	}

	.wish-table .options-add-to-cart {
		width: 56px;
		font-size: 6px;
	}

	.mobile-slider .tab-item-options {
		margin-bottom: 24px;
	}

	.options-add-to-cart {
		width: 90px;
	}

	.options-item-btn {
		margin: 5px;
	}

	.footer-form-btn {
		right: 10px;
	}

	.mobile-hidden {
		display: none;
	}

	.top-left-menu {
		width: 20%;
	}

	.logo-link img {
		height: 18px;
	}

	.wishlist-section-title .section-title {
		font-size: $fontSize16px;
	}
}

@media (max-width: 767px) {
	.wrapper {
		width: 100%;
		padding: 10px;
		overflow: hidden;
	}

	.top-menu {
		position: fixed;
		top: 0;
		padding: 10px 10px 0;
		margin-left: -10px;
		width: 100%;
		justify-content: space-between;
		background-color: #fff;
		z-index: 20;
		height: 7vh;
		border-bottom: 3px solid $accent-color;
	}

	.nav-section {
		position: fixed;
		bottom: 0;
		z-index: 20;
		width: 100%;
		background-color: #fff;

		.main-navigation {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.main-nav {
		overflow: hidden;
		height: 0;
		margin: 0 20px;
	}


	.main-nav-open {
		top: 7vh;
		margin-top: 0;

		.main-nav {
			height: 93vh;
			overflow: scroll;
		}

		.search-block,
		.cart-block {
			display: none;
		}

		.mobile-hidden {
			display: none !important;
		}
	}

	.main-nav-link {
		font-size: 1.2em;
	}

	.search-open,
	.cart-block {
		line-height: 35px;
	}

	.cart-block {
		margin-right: 15px;
	}

	.tab-list,
	.additional-featuries-list {
		flex-wrap: wrap;
	}

	.brands-section,
	.left-menu-select {
		display: none;
	}

	.account-menu {
		position: absolute;
		top: 7vh;
		background-color: $accent-color;
		padding: 0 10px;
		z-index: 1;

		&::after,
		&::before {
			content: '';
			position: absolute;
			background-color: $accent-color;
			width: 10%;
			height: 100%;
			bottom: 0;
			transform: rotate(-15deg);
			transform-origin: left;
			border-radius: 3px;
		}

		&::before {
			right: -4%;
			transform: rotate(15deg);
			transform-origin: right;
		}

		&::after {
			left: -4%;
		}
	}

	.account-list {
		right: auto;
	}

	.top-left-menu {
		width: 17%;
		font-weight: 500;
	}

	.wishlist-link {
		margin-left: 0;
	}

	.logo-link {
		margin-right: 0;
	}

	.main-content {
		margin-top: 10px;
	}

	.slide-caption {
		margin-left: 20px;
	}

	.caption-small-text {
		font-size: $fontSize16px;
	}

	.caption-title {
		font-size: 25px;
		margin-bottom: 10px;
	}

	.caption-btn {
		line-height: 35px;
		width: 130px;
		font-size: $fontSize12px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}

	.swiper-pagination-fraction,
	.swiper-pagination-custom,
	.swiper-container-horizontal>.swiper-pagination-bullets {
		bottom: 0;
	}

	.additional-featuries-item {
		width: 48%;
		margin-top: 10px;
		justify-content: flex-start;

		img {
			width: 30px;
		}
	}

	.featuries-description-title {
		font-size: 10px;
	}

	.additional-featuries-item .featuries-description {
		padding-right: 10px;
		border: none;
		width: 100%;
	}

	.additional-featuries-list :nth-child(1n) {
		margin-right: 2%;
	}

	.additional-featuries-list :nth-child(2n) {
		margin-right: 0;
	}

	.featuries-description {
		border: none;
	}

	.featuries-description {
		margin-left: 17px;
	}

	.featuries-description-text {
		font-size: 10px;
		display: none;
	}

	.categories-list {
		justify-content: center;
	}

	.categories-list-item {
		width: 100%;
	}

	.tabs-nav-list-item {
		margin: 2px;
	}

	.tabs-nav-btn {
		width: 75px;
		font-size: 9px;
	}

	.footer-bottom-secton .wrapper,
	.blog-list,
	.main-navigation,
	.nav-list {
		flex-direction: column;
	}

	.active-tab {
		width: 100vw;
		margin: 0 auto;
		margin-right: 100vw;

		.swiper-slide-active {
			justify-content: center;
		}
	}

	.tab-item-img,
	.tab-list-item {
		width: 150px;
		height: auto;
	}

	.tab-list-item img,
	.blog-post-img-block img,
	.categories-link img,
	.banner-section img {
		width: 100%;
		height: auto;
	}

	.tab-list {
		display: none;
	}

	.tab-item-options {
		margin-bottom: 15px;
	}

	.options-item-btn {
		padding: 0;
		width: auto;
		height: auto;
		margin: 10px;
	}

	.options-item-link {
		width: 100%;
		height: 100%;
		padding: 10px 15px;
		border-bottom: 1px solid $accent-color;
	}

	.blog-list-item {
		margin-right: 0;
	}

	.footer-section {
		flex-wrap: wrap;
		padding: 0;
	}

	.footer-info-block {
		display: none;
	}

	.footer-contacts-block {
		width: 100%;
		text-align: center;
	}

	.footer-list-item {
		padding: 0 10%;
	}

	.footer-account-block {
		text-align: right;
	}

	.footer-block-title {
		font-size: $fontSize16px;
	}

	.footer-list-link {
		font-size: $fontSize12px;
	}

	.footer-list-link i {
		margin-right: 8px;
	}

	.footer-form-input {
		width: 230px;
	}

	.footer-form-btn {
		right: 45px;
	}

	.footer-bottom-secton {
		padding-top: 20px;
	}

	.search-dropdown {
		top: -12px;
		left: 25px;
		z-index: 50;
	}

	.search-form {
		background-color: #fff;
	}

	.show-form {
		width: 90vw;
	}

	.cart-list-block {
		display: none;
	}

	.wish-table .product-img {
		margin-right: 0;
		margin-top: 5%;
	}

	.product-description {
		flex-direction: column;
		font-size: 9px;
	}

	.table-head,
	.wish-table {
		font-size: 9px;
	}

	.table-row {
		line-height: 1;
	}

	.wishlist-section-title .section-title {
		margin: 0;
		padding: 0;
	}

	.login-register-btn {
		width: 48%;
	}

	.quick-view-section {
		left: -300vw;
	}

	.show-quick-view {
		left: 0;
	}

	// shop page

	.grid-view-block {
		display: none;
	}

	.left-sidebar {
		position: absolute;
		left: -100%;
	}

	.product-list-item {
		flex-direction: column;
	}

	.product-image-block {
		margin-right: 0;
	}

	.product-list {
		.product-description {
			padding: 0 5px;
		}

		.rating {
			font-size: 20px;
		}

		.product-title a {
			font-size: $fontSize16px;
		}
	}

	.sidebar-active {
		left: 0;
		width: 100vw;
		height: auto;
		max-width: none;
		text-align: center;
		font-weight: $fontWeight600;
		background-color: $gray-light;
		z-index: 100;

		.sale-products-block {
			display: none;
		}
	}

	.product-content-sidebar-active {
		height: 100vh;
	}

	.quick-view-section {
		z-index: 210;
	}

	.quick-view-block {
		@include flex-column;
		align-items: center;
		width: 85vw;
		padding: 15px 30px;
		position: relative;

		.image-block {
			width: 65%;
			@include flex;
		}

		.section-title {
			font-size: $fontSize12px;
		}

		.close-section-btn {
			top: 2px;
			right: 2px;
			background-color: $popupBackground;
			padding: 5px 7px;
			width: auto;
			height: auto;
		}
	}

	.description-product {
		line-height: 20px;
	}

	.description-product,
	.description-option {
		padding-bottom: 15px;
	}

	.description-option {
		margin-top: 15px;
	}

	.description-block {
		padding: 0;
		position: static;
	}

	.option-select {
		width: 40%;
		padding: 5px 15px;
	}

	.option-name,
	.option-quantity,
	.option-select {
		margin-bottom: 10px;
	}

	.tags-block {
		display: none;
	}

	// Blog Page

	.blog-left-sidebar {
		padding-right: 0;
		max-width: 100%;
	}

	.content-section {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	.aside-search-blog-page {
		display: none;
	}

	.about-author {
		@include flex-column;
		justify-content: center;
		align-items: center;
	}

	.product-categories-list {
		@include flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.product-categories-item {
		padding: 3px 7px;
	}

	.sidebar-title {
		text-align: center;
	}

	.product-tags-list {
		justify-content: center;
	}

	.blog-post-important-text {
		font-size: 15px;
		padding: 30px 20px;
	}

	.contacts-form {
		margin-right: 0;
	}

	.contacts-section {
		@include flex-column;
	}

	.map-section {
		margin-top: 0;
	}

	// Cart page

	.cart-table-wrapper {
		flex-direction: column;
	}

	.table-head {
		line-height: 2;
	}

	.cart-table .close-cell {
		width: 30px;
	}

	.cart-table-product-description {
		margin-right: 10px;
	}

	.cart-table-product-description-block {
		flex-direction: column;

		.product-title {
			font-size: 14px;
		}
	}

	.table-quantity-cell-group-elements {
		width: 70px;
	}

	.table-quantity-minus-btn,
	.table-quantity-plus-btn {
		width: 20px;
	}

	.cart-table-quantity-input {
		width: 15px;
	}

	.cart-totals-block {
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
	}
}

@media (min-width: 540px) and (max-width: 768px) {
	.quick-view-section {
		z-index: 210;
	}

	.quick-view-block {
		@include flex;
		align-items: center;
		width: 85vw;
		padding: 15px 30px;
		position: relative;

		.image-block {
			width: 75%;
			@include flex;
		}

		.section-title {
			font-size: $fontSize12px;
		}

		.close-section-btn {
			top: 2px;
			right: 2px;
			background-color: $popupBackground;
			padding: 5px 7px;
			width: auto;
			height: auto;
		}
	}

	.description-product {
		line-height: 20px;
	}

	.description-product,
	.description-option {
		padding-bottom: 15px;
	}

	.description-option {
		margin-top: 15px;
	}

	.description-block {
		padding: 0;
		position: static;
	}

	.option-select {
		width: 40%;
		padding: 5px 15px;
	}

	.option-name,
	.option-quantity,
	.option-select {
		margin-bottom: 10px;
	}

	.tags-block {
		display: none;
	}

	// Cart Page
	.cart-table {
		width: 100%;
	}
}


@media (min-width: 768px) and (max-width: 1024px) {
	.wrapper {
		width: 100%;
		padding: 10px;
	}

	.hamburger-menu {
		display: none;
	}

	.main-nav {
		margin: 0 15px;
		font-size: 11px;
	}

	.main-nav-link {
		padding: 20px;
	}

	.drop-down-mega-menu {
		flex-wrap: wrap;
		justify-content: center;
		width: 90vw;
		left: -105px;
		padding: 40px 20px;
	}

	.mega-menu-block-title {
		padding-right: 75px;
	}

	.mega-menu-block {
		margin-right: 15px;
	}

	.additional-featuries-item .featuries-description {
		border: none;
	}

	.categories-list {
		justify-content: space-around;
	}

	.tab-list {
		display: none;
	}

	.tab-list-item img,
	.blog-post-img-block img,
	.categories-link img,
	.banner-section img {
		width: 100%;
		height: auto;
	}

	.mobile-slider .swiper-slide {
		justify-content: space-around;
	}

	.tab-item-description {
		margin-bottom: 15%;
	}

	.tab-item-title {
		font-size: 18px;
	}

	.rating {
		margin-left: 40px;
	}

	.options-item-btn {
		margin: 0 8px;
	}

	.mobile-slider .tab-item-options {
		position: absolute;
		right: 0;
		top: auto;
		left: auto;
		bottom: 0;
		height: 20%;
	}

	.blog-list {
		flex-wrap: wrap;
	}

	.blog-list-item {
		width: 100%;
	}

	.blog-list :last-child,
	.blog-list-item {
		margin: 0 10%;
	}

	.post-title {
		font-size: $fontSize16px;
		font-weight: $fontWeight600;
	}

	.footer-form-btn {
		right: 10px;
	}

	// shop page

	.grid-view-block {
		display: none;
	}

	.mobile-filter-button {
		display: none;
	}

	.quick-view-section {
		z-index: 210;
	}

	.quick-view-block {
		@include flex;
		align-items: center;
		width: 85vw;
		padding: 15px 30px;
		position: relative;

		.image-block {
			width: 75%;
			@include flex;
		}

		.section-title {
			font-size: $fontSize12px;
		}

		.close-section-btn {
			top: 2px;
			right: 2px;
			background-color: $popupBackground;
			padding: 5px 7px;
			width: auto;
			height: auto;
		}
	}

	.description-product {
		line-height: 20px;
	}

	.description-product,
	.description-option {
		padding-bottom: 15px;
	}

	.description-option {
		margin-top: 15px;
	}

	.description-block {
		padding: 0;
		position: static;
	}

	.option-select {
		width: 40%;
		padding: 5px 15px;
	}

	.option-name,
	.option-quantity,
	.option-select {
		margin-bottom: 10px;
	}

	.tags-block {
		display: none;
	}

	.contacts-section {
		justify-content: center;
	}

	.contacts-section {
		@include flex-column;
		justify-content: center;
		align-items: center;
	}

	.map-section {
		margin-top: 0;
	}

	// Cart Page 

	.table-head {
		line-height: 2;
	}

	.cart-table .table-row {
		line-height: 6;
		margin-top: 15px;
	}

	.cart-table .close-cell {
		width: 40px;
	}

	.cart-table-product-description-block {
		flex-direction: column;
	}

	.cart-table-product-description {
		margin-right: 15px;

		.product-title {
			font-size: 14px;
		}
	}

}

@media (min-width: 1025px) {

	.mobile-slider,
	.mobile-close,
	.hamburger-menu {
		display: none;
	}

	.wishlist-block:hover>.cart-list-block,
	.cart-block:hover>.cart-list-block {
		display: flex;
	}

	.mobile-filter-button {
		display: none;
	}

}