ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		list-style-type: none;
	}
}

a {
	text-decoration: none;
	color: #3a3a3a;
}

* {
	box-sizing: border-box;
}

button {
	border: none;
	cursor: pointer;
	background-color: transparent;
	&:focus {
		outline: none;
	}

}
