.shop-content,
.shop-content-header,
.product-list-item,
.product-description-options,
.product-tags-list {
	@include flex;
}

.shop-content {
	align-items: baseline;
	.options-add-to-cart {
		margin: 0 20px 0 0;
	}
	.tab-options-item {
		border: 1px solid $gray-light;
		margin-right: 5px;
	}
}

.product-list-table-view {
	@include flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.product-list-item {
		flex-direction: column;
		max-width: 30%;
		margin-right: 25px;
		border-bottom: none;
	}

	.product-description {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.product-description-text {
		display: none;
	}

	.product-description-options {
		width: 100%;
	}

	.product-image-block {
		margin-right: 0;
	}
}

.product-list-item {
	padding: 30px 0;
	border-bottom: 1px solid $gray-border;
	transition: all .3s;
}

.shop-content-header {
	border-bottom: 1px solid $gray-border;
	padding-bottom: 30px;
}

.product-image-link {
	width: 100%;
	height: 100%;
	@include flex;
	justify-content: center;
}

.product-description,
.product-content {
	width: 100%;
}

.left-sidebar,
.product-description,
.product-content {
	@include flex-column;
}

.left-sidebar {
	max-width: 260px;
	margin-right: 30px;
	align-self: start;
	transition: all .4s;
	position: relative;
}

.mobile-filter-button {
	color: $dark-color;
	width: 50px;
	height: 70px;
	text-align: center;
	align-self: flex-end;
	position: fixed;
	right: 88%;
	top: 40%;
	font-size: 30px;
	background-color: $accent-color;
	border-radius: 3px;
	z-index: 200;
}

.mobile-filter-button::after, .mobile-filter-button::before {
	content: '';
	position: absolute;
	background-color: $accent-color;
	width: 50px;
	border-radius: 5px;
}

.mobile-filter-button::after {
	bottom: -21px;
    transform: rotate(-33deg);
    z-index: 1000;
    height: 29px;
    left: -20px;
    width: 70px;
}

.showing-results-text {
	font-size: $fontSize13px;
	color: $gray-text;
}

.grid-view-block {
	display: flex;
}

.grid-view {
	border: 1px solid $gray-border;
	width: 37px;
	height: 37px;
	font-size: 15px;
}

.active-view {
	border: none;
	background-color: $accent-color;
	color: #fff;
}

.sorting-select {
	padding: 7px;
	border: 1px solid $gray-border;
}

.product-description {
	text-align: left;
	align-items: flex-start;
}

.product-description-text {
	font-size: $fontSize13px;
	line-height: 22px;
	color: $gray-text;
}

.product-image-block {
	margin-right: 30px;
	background-color: $gray-light;
	min-width: 260px;
	height: 330px;
}

.color-filter-item-link,
.product-categories-link {
	line-height: 35px;
	transition: all .3s;	
}


.color-filter-item-link,
.color-filter-item,
.product-categories-item {
	font-size: 14px;
	font-weight: 400;
	&:hover {
		color: $accent-color;
	}
	&:hover .product-categories-link {
		color: $accent-color;
	}
}

.product-categories-title {
	margin-top: 10px;
}

.price-filter-block {
	position: relative;
}

.noUi-handle,
.noUi-connect {
	background-color: $dark-color;
}

.noUi-horizontal .noUi-handle {
	border: none;
	width: 13px;
	height: 13px;
	border-radius: 7px;
	box-shadow: none;
	right: -10px;
}

.noUi-handle::before, .noUi-handle::after {
	display: none;
}

.noUi-target {
	background-color: $gray-light;
	height: 5px;
	box-shadow: none;
	border: none;
}

.product-tags-list {
	flex-wrap: wrap;
	justify-content: start;
}

.product-tags-item {
	padding: 0 10px;
	line-height: $lineHeight30px;
	border-radius: 15px;
	background-color: $gray-light;
	cursor: pointer;
	text-align: center;
	font-size: $fontSize12px;
	margin:0 10px 10px 0;
	transition: all .3s;
	&:hover {
		background-color: $accent-color;
		color: #fff;
	}
}

.sale-products-items {
	margin-bottom: 20px;
}

.sale-products-link,
.sale-products-img-block {
	@include flex;
}

.sale-products-img-block {
	background-color: $gray-light;
	height: 110px;
	width: 90px;
	justify-content: center;
	margin-right: 20px;
}

.sale-products-img {
	transform: scale(0.5,0.5);
}

.description-item-title {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
}


