// Colors

$dark-color: #3a3a3a;
$accent-color: #ff0054;
$gray-dark: #444444;
$gray-light: #f3f3f3;
$gray-border: #ebebeb;
$gray-text: #8b8b8b;
$popupBackground: rgba($color: #333, $alpha: .5);
$fontSize13px: 13px;
$fontSize12px: 12px;
$fontSize16px: 16px;
$fontWeight600: 600;
$fontWeight800: 800;
$lineHeight30px: 30px;
$lineHeight40px: 40px;

// swiper

@import '../libs/swiper/components/effect-flip/effect-flip.scss';