.wishlist-section-title {
	background-color: $dark-color;
	color: #fff;
	.section-title {
		text-align: left;
		padding: 25px 0;
		margin-top: 0;
	}
}

.wish-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 100px;
	.options-add-to-cart {
		width: 100%;
		max-width: 165px;
		&:hover {
			outline: 1px solid $dark-color;
		}
	}

	.product-img {
		margin-right: 30px;
		max-width: 71px;
	}
}

.table-head {
	background-color: $gray-light;
	text-align: left;
	font-size: 12px;
	line-height: 4;
}

.table-row {
	border-bottom: 1px solid $gray-border;
	line-height: 7.9;
}

.close-cell {
	text-align: center;
}

.close-btn {
	padding: 2px;
}

.product-description {
	@include flex;
	justify-content: flex-start;
	align-items: center;
}

.button-cell {
	text-align: right;
}