.main-footer {
	background-color: $dark-color;
	color: #fff;
}

.footer-section {
	padding: 20px 0 60px 0;
}

.footer-block-title {
	color: $gray-text;
	@include text-uppercase;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
}

.footer-list-link {
	color: #fff;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 30px;
	i {
		margin-right: 20px;
	}
}

.footer-block {
	@include flex-column;
}

.footer-section,
.footer-cart-list {
	@include flex;
}

.footer-cart-list {
	margin-top: 15px;
}

.footer-bottom-secton {
	border-top: 1px solid $gray-dark;
	padding: 60px 0;
	.wrapper {
		@include flex;
		align-items: center;
	}
}

.copyright {
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 30px;
	color: $gray-text;
}

.footer-form {
	position: relative;
	@include text-uppercase;
}

.footer-form-input {
	width: 261px;
	height: 40px;
	border-radius: 20px;
	font-size: 12px;
	color: #8b8b8b;
	font-weight: 600;
	@include text-uppercase;
	padding: 0 55px 0 15px;
	border: 1px solid transparent;
}

.footer-form-btn {
	font-size: 11px;
	color: #fff;
	background-color: $accent-color;
	line-height: 40px;
	width: 90px;
	border-radius: 20px;
	font-weight: 700;
	position: absolute;	
	right: 90px;
}