.top-left-menu,
.top-menu {
	@include flex;
	@include text-uppercase;
	user-select: none;
	position: relative;
}

.top-left-menu {
	width: 170px;
}

.select-item {
	cursor: pointer;
	display: none;
	background-color: $dark-color;
	color: #fff;
	line-height: 40px;
	padding: 0 9px;
	text-align: center;
	border-bottom: 1px solid $gray-dark;
}

.left-menu-select {
	position: absolute;
	top: -9px;
	.active {
		display: block;
		background-color: transparent;
		color: $dark-color;
	}
	.active,
	&:last-child {
		border-bottom: none;
	}
}

.currency-select {
	margin-left: 50px;
}

.wishlist {
	margin-left: 110px;
}

.logo {
	position: relative;
}

.logo-link {
	font-size: 18px;
	font-weight: 800;
	line-height: 25px;
	img {
		height: 25px;
	}
}

.account-menu {
	position: relative;
}

.sign-in-link {
	border-bottom: 1px solid $gray-text;
}

.account-list {
	position: absolute;
	right: 0;
	top: 30px;
	background-color: $dark-color;
	text-align: center;
	display: none;
	opacity: 0;
	&:last-child {
		border-bottom: none;
	}
}

.account-list-item {
	border-bottom: 1px solid $gray-dark;
	opacity: 0;
	transition: all .5s;
}

.account-list-link {
	display: block;
	min-width: 200px;
	max-width: 300px;
	color: $gray-text;
	line-height: 50px;
	text-align: center;
	width: 100%;
	height: 100%;
	transition: all .5s;
	&:hover {
		color: #fff;
		background-color: $gray-dark;
	}
}

.slash {
	margin: 0 5px;
}

.user-link:hover+.account-list {
	display: block;
	opacity: 1;
}


