.main-header {
	margin-top: 25px;
}

.top-left-menu,
.top-menu {
	@include flex;
	@include text-uppercase;
	user-select: none;
	position: relative;
}

.top-left-menu {
	width: 170px;
}

.select-item {
	cursor: pointer;
	display: none;
	background-color: $dark-color;
	color: #fff;
	line-height: 40px;
	padding: 0 9px;
	text-align: center;
	border-bottom: 1px solid $gray-dark;
}

.left-menu-select {
	position: absolute;
	top: -9px;
	.active {
		display: block;
		background-color: transparent;
		color: $dark-color;
	}
	.active,
	&:last-child {
		border-bottom: none;
	}
}

.currency-select {
	margin-left: 50px;
}

.wishlist {
	margin-left: 110px;
}

.logo {
	position: relative;
}

.logo-link {
	font-size: 18px;
	font-weight: 800;
	line-height: 25px;
	margin-right: 40px;
	img {
		height: 25px;
	}
}

.account-menu {
	position: relative;
	@include flex;
}

.sign-in-link {
	border-bottom: 1px solid $gray-text;
}

.account-list {
	position: absolute;
	right: 0;
	background-color: $dark-color;
	text-align: center;
	display: none;
	opacity: 0;
	&:last-child {
		border-bottom: none;
	}
}

.dropdown-link,
.account-list-link {
	opacity: 0;
	display: block;
	min-width: 200px;
	max-width: 300px;
	color: $gray-text;
	line-height: 50px;
	text-align: center;
	width: 100%;
	height: 100%;
	transition: all .5s;
	border-bottom: 1px solid $gray-dark;
	&:hover {
		color: #fff;
		background-color: $gray-dark;
	}
}

.slash {
	margin: 0 5px;
}

.user-menu-container:hover>.account-list {
	display: block;
	opacity: 1;
}

.nav-section {
	margin-top: 30px;
	border-top: 1px solid $gray-border;
	border-bottom: 1px solid $gray-border;
}

.nav-list,
.main-navigation {
	@include flex;
	font-weight: 600;
}

.main-nav {
	width: 100%;
	margin: 0 80px;
	@include text-uppercase;
	font-size: 12px;
}

.main-nav-link {
	display: block;
	padding: 25px 35px;
	transition: background-color .5s;
}

.nav-list-item:hover .main-nav-link {
	background-color: $gray-light;
	border-bottom: 1px solid $gray-light;
	border-top: 1px solid $gray-light;
}

.active-nav-link {
	border-bottom: 2px solid $accent-color;
}

.cart-icon-block,
.cart-block {
	@include flex;
	min-width: 50px;

}

.cart-icon-block {
	width: 100%;
}

.cart-items {
	color: $accent-color;
}

.nav-list-item {
	position: relative;
}

.drop-down-menu {
	position: absolute;
	background-color: $dark-color;
	display: none;
}

.dropdown-link {
	padding-left: 15px;
	text-align: left;
}

.dresses:hover>.drop-down-menu{
	display: block;
	opacity: 1;
}

.drop-down-mega-menu {
	position: absolute;
	left: -205px;
	@include flex;
	align-items: flex-start;
	background-color: $dark-color;
	color: $gray-text;
	padding: 40px;
	display: none;
}

.mega-menu-block {
	margin-right: 70px;
	opacity: 0;
}

.sale-block {
	margin-right: 0;
}

.mega-menu-block-title {
	color: #fff;
	border-bottom: 1px solid $gray-text;
	padding-right: 165px;
	padding-top: 2px;
	h3 {
		margin-top: 0;
	}
}

.mega-menu-link {
	color: $gray-text;
	text-transform: capitalize;
	font-weight: 400;
	display: block;
	padding: 10px 0;
	transition: all .5s;
	&:hover {
		color: $accent-color;
	}
}

.sale {
	position: relative;
}

.sale-info {
	color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	@include text-uppercase;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	z-index: 1;
	padding-top: 45px;
	font-weight: 800;
	p {
		margin: 0;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $accent-color;
		opacity: .5;
		z-index: -1;
	}
}

.mega-menu:hover>.drop-down-mega-menu {
	display: flex;
}

.search-block {
	position: relative;
}

.search-open {
	line-height: 70px;
	transition: all .5s;
	&:hover {
		background-color: $gray-light;
	}
}

.search-show {
	background-color: $gray-light;
}

.search-dropdown {
	position: absolute;
}

.search-form {
	@include flex;
	justify-content: center;
	align-items: center;
	background-color: $gray-light;
	line-height: 60px;
	padding: 0 10px;
	width: 350px;
	width: 0;
	display: none;
}

.show-form {
	display: flex;
}

.search-input {
	line-height: 40px;
	height: 40px;
	width: 100%;
	border: 1px solid #e1e1e1;
}

.search-submit {
	height: 40px;
	width: 40px;
	background-color: $dark-color;
	margin-bottom: 6px;
}

.cart-block {	
	line-height: 70px;
	min-width: 65px;
	position: relative;
}

.cart-icon-block {
	padding: 0 10px;
	&:hover {
		background-color: $gray-light;
	}
}

.cart-items {
	margin-left: 5px;
}


.cart-list-block {
	position: absolute;
	top: 72px;
	right: 0;
	min-width: 360px;
	background-color: $dark-color;
}

.cart-list-block,
.cart-list {
	@include flex-column;
	justify-content: flex-start;
}

.cart-list-item {
	@include flex;
	position: relative;
	justify-content: start;
	padding: 10px;
	border-bottom: 1px solid $gray-dark;
	transition: all .5s;
	&:hover {
		background-color: $gray-dark;
	}
}

.cart-item-img {
	background-color: #fff;
	margin-right: 20px;
	padding: 13px 1px;
	@include flex;
}

.cart-item-close-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	line-height: 11px;
	cursor: pointer;
}

.cart-description {
	color: $gray-text;
	font-size: 12px;
	font-weight: 400;
}

.product-price {
	font-size: 14px;
	color: #f6f6f6;
	font-weight: 700;
	font-family: "Oswald";
}

.total-price-title span,
.total-price-value,
.shipping-price,
.product-price,
.cart-description {
	margin: 0;
	line-height: 20px;
}

.total-price-block {
	@include flex;
	@include text-uppercase;
	padding: 15px 10px;
	color: #f6f6f6;
}

.total-price-title {
	@include flex-column;
	text-align: right;
	padding-left: 20px;
}

.total-price {
	padding-right: 20px;
}

.view-cart-button {
	@include text-uppercase;
	color: #f6f6f6;
	background-color: $accent-color;
	margin: 0 10px 10px 10px;
	display: block;
	font-size: 14px;
	font-weight: 800;
	line-height: 50px;
}
