.main-content {
	margin-top: 50px;
}

.swiper-container {
	width: 100%;
	height: 100%;
  }

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-height: 550px;
}

.swiper-slide {
	position: relative;
}

.slide-caption {
	position: absolute;
	margin-left: 150px;
	@include text-uppercase;
	color: $dark-color;
}

.caption-title {
	margin-top: 0;
	margin-bottom: 30px;
	line-height: 46px;
	font-size: 52px;
	font-weight: 700;
}

.caption-small-text {
	font-size: 18px;
}

.caption-btn {
	background-color: $accent-color;
	color: #fff;
	border-radius: 23px;
	width: 175px;
	line-height: 45px;
	border-radius: 23px;
	box-shadow: (0px 5px 6.5px rgba(255,0,84,0.4));
	@include text-uppercase;
	transition: all .5s;
	&:hover {
		box-shadow: (0px 5px 6.5px rgba(255,0,84,0.4));
		background-color: #ff256d;
	}
}

.swiper-pagination-bullet {
	background-color: #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: $dark-color;
}

.swiper-button-prev:after, .swiper-button-next:after {
	padding: 10px 17px;
	border: 2px solid #7e9396;
	border-radius: 50%;
	font-size: 30px;
}

.swiper-button-prev, .swiper-button-next {
	color: #7e9396;
	margin: 15px;
	right: 15px;
}

.additional-featuries-section {
	width: 100%;
	margin-top: 35px;
	margin-bottom: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid $gray-border;
}

.featuries-description {
	margin-left: 25px;
}

.additional-featuries-item,
.additional-featuries-list {
	@include flex;
	align-items: center;
}

.additional-featuries-item {
	.featuries-description {
		border-right: 1px solid $gray-border;
		padding-right: 30px;
	 }
}

.call-center .featuries-description {
	border: none;
	padding-right: 0;
}

.featuries-description-title {
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 0;
	@include text-uppercase;
}

.featuries-description-text {
	font-size: 13px;
	color: $gray-text;
}

.categories-list {
	@include flex;
	flex-wrap: wrap;
}

.categories-link {
	display: block;
	position: relative;
	height: 100%;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 98%;
		background-color: #000;
		opacity: 0.6;
		left: 0;
		top: 0;
		transition: all .4s;
	}
}

.categories-list-item:hover>.categories-link::after{
	height: 83%;
	width: 89%;
	left: 20px;
	top: 20px;
}

.categories-list-item {
	position: relative;
	margin-top: 30px;
}

.category-caption {
	position: absolute;
	top: 22%;
	width: 100%;
	text-align: center;
	text-transform: lowercase;
	color: #fff;
	z-index: 10;
}

.category-title {
	@include text-uppercase;
	font-size: 18px;
	letter-spacing: 3px;
	font-weight: 700;
	font-family: "Oswald";
	margin-bottom: 0;
}

.decoration-line {
	width: 20px;
	height: 1px;
	border-top: 1px solid #fff;
	margin: 0 15px;
}

.description-top-text {
	@include flex;
	justify-content: center;
	margin-bottom: 0;
}

.featured-products-section {
	margin-top: 30px;
}

.section-title {
	text-align: center;
	@include text-uppercase;
}

.tabs-nav-list {
	@include flex;
	align-items: center;
	justify-content: center;
}

.tabs-nav-list-item {
	margin: 5px;
}

.tabs-nav-btn {
	background-color: $gray-light;
	color: $gray-text;
	@include text-uppercase;
	font-size: 12px;
	font-weight: 600;
	line-height: 30px;
	width: 100px;
	transition: all .1s;
	&:hover {
		outline: 2px solid $dark-color;
	}
}

.tabs-nav-active {
	background-color: $dark-color;
	color: #fff;
}

.tabs-content {
	@include flex;
	overflow: hidden;
}

.tab {
	order: 1;
	position: relative;
	top: 500px;
	transition: top .3s;
}

.active-tab {
	top: 0;
	order: 0;
}

.tab-list {
	@include flex;
	margin-top: 25px;
	width: 1140px;
}

.tab-list-item {
	width: auto;
	max-width: 260px;
	position: relative;
}

.tab-item-options {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 25px;
	left: 25px;
	@include flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all .3s ease-out;
	&::before {
		content: '';
		background-color: #313131;
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: .9;
	}
	opacity: 0;
}

.tab-options-list {
	@include flex;
	z-index: 10;
}

.options-item-btn {
	width: 35px;
	height: 35px;
	background-color: #fff;
	margin-right: 1px;
	transition: all .5s;
	padding: 6px;
	text-align: center;
	&:hover {
		background-color: $accent-color;
	}
}

.tab-options-list:last-child {
	margin-right: 0;
}

.submit-contacts-form,
.submit-commrnt-form,
.quick-view-Btn,
.options-add-to-cart {
	color: #fff;
	background-color: $accent-color;
	width: 108px;
	line-height: 35px;
	@include text-uppercase;
	margin-top: 10px;
	font-size: 11px;
	font-weight: 600;
	transition: all .5s;
	z-index: 10;
	&:hover {
		background-color: #fff;
		color: $dark-color;
	}
}

.tab-item-img {
	background-color: $gray-light;
	width: 260px;
	height: 330px;
	@include flex;
	align-items: center;
	justify-content: center;
	position: relative;
	&:hover .tab-item-options {
		opacity: 1;
		top: 0;
		left: 0;
	}
}

.tab-item-title {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 40px;
	color: $dark-color;
	font-weight: 500;
	@include text-uppercase;
	margin-bottom: 0;
}

.tab-price-block {
	@include flex;
	align-items: flex-start;
}

.tab-price {
	font-size: 18px;
	line-height: 40px;
	color: #3a3a3a;
	font-weight: 500;
	margin-top: 0;
	font-family: "Oswald";
}

.star-reiting {
	line-height: 40px;
	font-size: 12px;
}

.current-price {
	font-weight: 600;
}

.last-price {
	font-weight: 300;
	color: $gray-text;
	text-decoration: line-through;
	margin-right: 10px;
}

.rating {
	display: flex;
	line-height: 40px;
  }

.rating-item {
	width: 20px;
	height: 20px;
	margin: 1px;
	color: $gray-text;
	cursor: pointer;
	z-index: 10;
	i {
		display: block;
		width: 100%;
		height: 100%;
	}
  }

.mobile-slider {
	overflow: hidden;
	width: 100%;
	margin-top: 30px;
	.swiper-wrapper {
		@include flex;
	}

	.swiper-slide {
		flex-wrap: wrap;
		width: 100vw;
	}

	.tab-item-options {
		display: flex;
		position: relative;
		bottom: 0;
		left: 0;
		width: 320px;
		opacity: 1;
		flex-direction: row;
		justify-content: space-between;
		background-color: transparent;
		&::before {
			display: none;
		}
	}
}

  
.active {
	color: #ffba00;
}

.banner-section {
	margin-top: 15px;
}

.blog-section {
	padding-bottom: 20px;
	border-bottom: 1px solid $gray-border;
}



.blog-list {
	@include flex;
	& :last-child {
		margin-right: 0;
	}
}

.blog-list-item {
	margin-right: 30px;
}

.blog-post-img-block {
	position: relative;
}

.post-date-block {
	position: absolute;
	bottom: -20px;
	right: 40px;
	background-color: $dark-color;
	@include text-uppercase;
	color: #fff;
	@include flex-column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 90px;
	width: 90px;
	transition: all .5s;
}

.blog-list-item:hover .post-date-block{
	background-color: $accent-color;
}

.post-date {
	font-size: 36px;
	font-weight: 600;
	line-height: 36px;
}

.decore-line {
	width: 40px;
	border-bottom: 3px solid #fff;
}
.post-date-month,
.post-date-year {
	font-weight: 400;
	font-size: 13px;
}

.blog-post-title {
	margin-top: 35px;
}

.post-title {
	font-size: 14px;
	@include text-uppercase;
	line-height: 22px;
	font-weight: 400;
}

.brands-section {
	position: relative;
	height: 200px;
}

.brands-list {
	@include flex;
	flex-direction: row;
	position: absolute;
	width: 100%;
	align-items: center;
	margin: 60px 0;
}

.brands-list-item {
	transition: all .5s;
	&:hover {
		transform: scale(1.2);
	}
}

